$color_grey: rgb(247, 248, 253);
$color_white: rgb(255, 255, 255);
$color_orange: rgb(233, 159, 147);
$color_purple: rgb(174, 48, 231);
$color_blue-900: rgb(56,63, 103);
$color_blue-500: rgb(74,101,225);
$color_blue-300: rgb(110, 188, 236);
$color_blue-100: rgb(243, 243, 255);
