.stack {
    display: grid; 
    grid-template-columns: repeat(3, 1fr);
    gap: 1rem;
    align-content: start;
}

@media (min-width: 1000px) {
    .stack {
        grid-template-columns: 1fr;

    }
}