$grey--md: rgb(180, 180, 180);
$grey: rgb(247, 248, 253);
$white: rgb(255, 255, 255);
$orange: rgb(233, 159, 147);
$purple: rgb(174, 48, 231);
$blue-900: rgb(56, 63, 103);
$blue-500: rgb(74, 101, 225);
$blue-300: rgb(110, 188, 236);
$blue-100: rgb(243, 243, 255);
