$grey--md: rgb(180, 180, 180);
$grey: rgb(247, 248, 253); // #F7F8FD
$white: rgb(255, 255, 255); // #FFFFFF
$red: #d73737;
$orange: rgb(233, 159, 147); // #F49F85
$purple: rgb(174, 48, 231); // #AD1FEA
$blue-900: rgb(56, 63, 103); // #373F68
$blue-700: rgb(100, 113, 150); // #647196
$blue-500: rgb(74, 101, 225); // #4661E6
$blue-300: rgb(110, 188, 236); // #62BCFA
$blue-100: rgb(243, 243, 255); // #F2F4FF
