@use './shared/breakpoints.scss';

.addComment {
  width: 100%;

  @media (min-width: breakpoints.$tablet) {
    padding: 24px 34px;
  }

  &__heading {
    margin-bottom: 24px;
  }

  &__footer {
    padding-top: 16px;
    display: flex;
    justify-content: space-between;
    align-items: center;

    .charCount {
    }
  }
}
