@use './shared/colors.scss';
@use './shared/breakpoints.scss';

$spacing: 24px;
$profilePicWidth: 40px;
$userInfoMarginLeft: 16px;

.commentsCard {
  width: 100%;

  @media (min-width: breakpoints.$tablet) {
    padding: 24px 34px;
  }

  &__count {
    color: colors.$blue-900;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */

    letter-spacing: -0.25px;
  }

  &__comments {
    .comment {
      padding-top: $spacing;

      // Give all comments a solid bottom border except for the last comment.
      &:not(:last-child) {
        border-bottom: 1px solid rgba(140, 146, 179, 0.25);
      }

      .main {
        .heading {
          // background: red;
          display: flex;
          align-items: center;
          margin-bottom: 16px;

          .profilePic {
            border-radius: 50%;
            width: $profilePicWidth;
          }

          .userInfo {
            font-size: 13px;
            margin-left: $userInfoMarginLeft;

            .name {
              font-weight: bold;
              color: colors.$blue-900;
            }
            .username {
              color: colors.$blue-700;
            }
          }

          .replyBtn {
            margin-left: auto;
            background: none;
            font-weight: bold;
            color: colors.$blue-500;
          }

          // @media (min-width: breakpoints.$tablet) {
          //   & {
          //     display: block;
          //   }

          //   .userInfo {
          //     margin: 0;
          //   }
          // }
        }

        .content {
          padding-bottom: $spacing;

          @media (min-width: breakpoints.$tablet) {
            padding-left: $profilePicWidth + $userInfoMarginLeft;
          }
        }
      }

      .replies {
        // Overrides styles if used together with styles for '.comment'.
        .reply {
          padding-left: $spacing;
          padding-top: 0;
          border-bottom: none;
          position: relative;

          // Give each reply a border to its left.
          &::after {
            content: '';
            position: absolute;
            top: 0px;
            left: 0px;
            height: 100%;
            border-left: 1px solid colors.$blue-700;
            opacity: 0.25;
          }

          // Overrides border styles declared above for the last reply.
          &:last-child::after {
            height: 22px;
          }

          .content {
            margin-bottom: 0;
            padding-bottom: $spacing;
          }

          .replyingTo {
            font-weight: 700;
            color: colors.$purple;
          }
        }
      }
    }
  }
}
