@use './shared/colors.scss';

$spacing: 24px;

.commentsCard {
  width: 100%;

  &__count {
    color: colors.$blue-900;
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 26px;
    /* identical to box height */

    letter-spacing: -0.25px;
  }

  &__comments {
    .comment {
      padding-top: $spacing;

      // Give all comments a solid bottom border except for the last comment.
      &:not(:last-child) {
        border-bottom: 1px solid rgba(140, 146, 179, 0.25);
      }

      .main {
        .heading {
          // background: red;
          display: flex;
          align-items: center;
          margin-bottom: 16px;

          .profilePic {
            border-radius: 50%;
            width: 40px;
          }

          .userInfo {
            font-size: 13px;
            margin-left: 16px;

            .name {
              font-weight: bold;
              color: colors.$blue-900;
            }
            .username {
              color: colors.$blue-700;
            }
          }

          .replyBtn {
            margin-left: auto;
            background: none;
            font-weight: bold;
            color: colors.$blue-500;
          }
        }

        .content {
          // background: blue;
          margin-bottom: $spacing;
        }
      }

      .replies {
        background: red;
        .reply {
        }
      }
    }
  }
}
