@use './shared/colors.scss';
@use './shared/breakpoints.scss';

.inputTxt {
  .text {
    width: 100%;
    height: 80px;
    resize: none;
    font-size: 13px;

    &.error {
      outline: 1px solid colors.$red;
    }
  }

  .errorMsg {
    color: colors.$red;
    padding-top: 4px;
  }
}
