@use './shared/breakpoints.scss';

.maingrid {
  display: grid;
  grid-template-columns: 1fr;
  gap: 2rem;
}

@media (min-width: breakpoints.$desktop) {
  .maingrid {
    grid-template-columns: 1fr 3fr;
  }
}
