@use './shared/colors.scss';
@use './shared/breakpoints.scss';
@use './Rainbox.module.scss';

.optionBanner {
  display: flex;
  align-items: center;
  background-color: colors.$blue-900;
  color: colors.$white;

  & > * {
    padding-right: 1rem;
  }

  @media (max-width: breakpoints.$tablet) {
    & {
      width: 100%;
      border-radius: 0px;
      position: -webkit-sticky;
      position: sticky;
      top: Rainbox.$rainbox-height;
    }

    .suggestionIcon,
    .suggestionCount {
      display: none;
    }
  }
}
.suggestionCount {
  font-size: 1.2rem;
  font-weight: 800;
}

.addFeedbackButton {
  margin-left: auto;
  background-color: colors.$purple;
  padding: 1rem;
  border-radius: 0.625rem;
  color: colors.$white;
  font-size: 1.1rem;
  font-weight: 600;
  white-space: nowrap; // Prevents text from starting on new line.

  & > *:first-child {
    margin-right: 0.5rem;
    transform: scale(1.4);
  }

  &:hover {
    cursor: pointer;
  }

  @media (max-width: breakpoints.$tablet) {
    font-size: 0.8125rem;
    padding: 0.65625rem 1rem;
  }
}

.dropdownContainer {
  display: flex;
  align-items: center;
  font-size: 0.8125rem;
  height: 100%;

  & > *:first-child {
    flex-shrink: 0;
  }

  select[name='sort-options'] {
    font-weight: 700;
    color: colors.$white;
    display: inline;
    padding: 0;
    padding-top: 3px;
    padding-left: 5px;
    text-transform: capitalize;

    option {
      color: colors.$blue-900;
      text-transform: capitalize;
    }

    // Replace with custom arrow.
    &.arrowDown {
      background-image: url('./assets/shared/icon-arrow-down.svg');
      background-position: 100% 57%;
      background-size: 8px;
      background-repeat: no-repeat;
    }

    &.arrowUp {
      background-image: url('./assets/shared/icon-arrow-up.svg');
      background-position: 100% 57%;
      background-size: 8px;
      background-repeat: no-repeat;
    }
  }
}
