@use './shared/colors.scss';
@use './shared/breakpoints.scss';
@use './Rainbox.module.scss';

.optionBanner {
  display: flex;
  align-items: center;
  background-color: colors.$blue-900;
  color: colors.$white;

  & > * {
    padding-right: 1rem;
  }

  @media (max-width: breakpoints.$tablet) {
    & {
      width: 100%;
      border-radius: 0px;
      position: -webkit-sticky;
      position: sticky;
      top: Rainbox.$rainbox-height;
    }

    .suggestionIcon,
    .suggestionCount {
      display: none;
    }
  }
}
.suggestionCount {
  font-size: 1.2rem;
  font-weight: 800;
}

.addFeedbackButton {
  margin-left: auto;
  background-color: colors.$purple;
  padding: 1rem;
  border-radius: 0.625rem;
  color: colors.$white;
  font-size: 1.1rem;
  font-weight: 600;
  white-space: nowrap; // Prevents text from starting on new line.

  & > *:first-child {
    margin-right: 0.5rem;
    transform: scale(1.4);
  }

  &:hover {
    cursor: pointer;
  }

  @media (max-width: breakpoints.$tablet) {
    font-size: 0.8125rem;
    padding: 0.65625rem 1rem;
  }
}

.dropdownContainer {
  display: flex;
  color: black;
  position: relative;
  font-size: 0.8125rem;

  &:hover {
    label {
      color: colors.$blue-100;
    }
  }

  &,
  & > * {
    cursor: pointer;
  }

  .options {
    position: absolute;
    top: 42px;
    border-radius: 10px;
    width: 255px;
    box-shadow: 0px 10px 40px -7px rgba(55, 63, 104, 0.350492);

    &.open {
      display: block;
    }

    &.closed {
      display: none;
    }

    .option {
      color: colors.$blue-700;
      padding: 12px 24px;
      font-size: 1rem;
      border-bottom: 1px solid rgba(56, 63, 103, 0.15);
      font-weight: 400;

      display: flex;
      justify-content: space-between;
      align-items: center;

      &:first-child {
      }

      &:last-child {
        border-bottom: 0px;
      }

      &:hover {
        cursor: pointer;
        color: colors.$blue-500;
      }

      .checkmark {
        padding-top: 2px;
      }
    }
  }

  label {
    color: #fff;
    margin-right: 9px;
    white-space: nowrap;
  }

  .colon {
    margin: 0 5px;
  }

  .selectedOption {
    font-weight: 700;
    margin-right: 9px;
  }

  .icon {
    position: absolute;
    top: 45%;
  }
}
