@use './shared/colors.scss';
@use './shared/breakpoints.scss';

.page_container {
  background-color: colors.$blue-100;
  min-height: 100vh;

  @media (min-width: breakpoints.$tablet) {
    padding: 56px 40px;

    // display: flex;
    // justify-content: center;
    // flex-direction: column;
  }

  @media (min-width: breakpoints.$desktop) {
    // flex-direction: row;
    display: grid;
    grid-template-columns: 0.25fr 1fr;
    gap: 30px;
  }
}
