@use './shared/colors.scss';
@use './shared/breakpoints.scss';

$rainbox-height: 70px;

.rainbox {
  @media (min-width: breakpoints.$tablet) {
    background-image: url('./assets/suggestions/tablet/background-header.png');
  }

  @media (min-width: breakpoints.$desktop) {
    background-image: url('./assets/suggestions/desktop/background-header.png');
  }

  background-image: url('./assets/suggestions/mobile/background-header.png');
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  color: colors.$white;
  & h2 {
    font-size: 0.9375rem;
    font-weight: bold;
    color: #fff;
    margin-bottom: -8px;
  }
  & h3 {
    font-size: 0.8125rem;
    font-weight: 500;
    color: #fff;
    opacity: 0.75;
  }
  border-radius: initial;
  width: 100%;
  height: $rainbox-height;
  padding: 16px 24px;

  display: flex;
  justify-content: space-between;
  align-items: center;

  position: -webkit-sticky;
  position: sticky;
  top: 0;

  @media (min-width: breakpoints.$tablet) {
    position: static;
    border-radius: 10px;
    height: 100%;
    align-items: end;
    padding: 24px;

    & h2 {
      margin-top: 3px;
    }
  }

  @media (min-width: breakpoints.$desktop) {
    padding-top: 5rem;
  }
}
