@use './shared/colors.scss';
@use './shared/breakpoints.scss';

.requestCard {
  padding: 24px;

  display: -ms-grid;
  display: grid;
  gap: 16px;
  grid-template-areas:
    'details details details details'
    'upvote . . comments';

  @media (min-width: breakpoints.$tablet) {
    & {
      grid-template-columns: 60px auto auto auto 40px;
      grid-template-areas:
        'upvote details details . comments'
        '. details details . comments';
    }
  }
}

.requestDetails {
  font-size: 0.8125rem;
  grid-area: details;

  & > *:not(:last-child) {
    margin-bottom: 0.625rem;

    @media (min-width: breakpoints.$tablet) {
      margin-bottom: 0.75rem;
    }
  }
  &__title {
    font-weight: 800;
    color: colors.$blue-900;

    @media (min-width: breakpoints.$tablet) {
      font-size: 1.125rem;
    }
  }
  &__description {
    color: colors.$blue-700;

    @media (min-width: breakpoints.$tablet) {
      font-size: 1rem;
    }
  }
}

.upvotes {
  grid-area: upvote;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  background-color: colors.$blue-100;
  border-radius: 0.5rem;
  font-weight: 700;
  width: 69px;
  height: 32px;

  &__count {
    color: colors.$blue-900;
    margin-left: 3px;
  }

  &:hover {
    cursor: pointer;
  }

  @media (min-width: breakpoints.$tablet) {
    flex-direction: column;
    width: 40px;
    height: 50px;

    &__count {
      margin-left: 0;
    }
  }
}

.comments {
  grid-area: comments;
  display: flex;
  font-weight: 700;
  height: 100%;
  align-items: center;

  & > *:first-child {
    margin-right: 10px;
  }

  &__count {
    font-weight: 700;
    color: colors.$blue-900;
    padding-bottom: 2px;
  }
}

.zero {
  color: colors.$grey--md;
}
