@use './Rainbox.module.scss';
@use './shared/breakpoints.scss';

$duration: 0.3s;
$timing-function: ease-in-out;

@keyframes fadeIn {
  from {
    opacity: 0;
  }
  to {
    opacity: 0.7;
  }
}

@keyframes fadeOut {
  from {
    opacity: 0.7;
  }
  to {
    opacity: 0;
  }
}

.shadowBg {
  position: fixed;
  height: 100vh;
  background: #000;
  width: 100vw;
  opacity: 0;
  top: Rainbox.$rainbox-height;
  z-index: -1;

  @media (min-width: breakpoints.$tablet) {
    display: none;
  }
}

.fadeIn {
  animation: fadeIn $duration $timing-function forwards;
}

.fadeOut {
  animation: fadeOut $duration $timing-function forwards;
}
