@use './shared/colors.scss';
@use './Rainbox.module.scss';

$row-height: min-content;

.widgets {
  width: 75vw;
  background: #000;
  height: 100vh - Rainbox.$rainbox-height;
  position: fixed;
  top: Rainbox.$rainbox-height;
  right: 0;
}
